.Live {
  overflow: hidden;
}
:global(.cells_auto_fill_Live_0) {
  display: flex;
  flex-wrap: wrap;
  > div {
    width: 20%;
    img {
      width: 100%;
    }
  }
}

:global(.divider_line_Live_1),
:global(.divider_line_Live_11),
:global(.divider_line_Live_13),
:global(.divider_line_Live_17),
:global(.divider_line_Live_20),
:global(.divider_line_Live_25),
:global(.divider_line_Live_30),
:global(.divider_line_Live_34),
:global(.divider_line_Live_38),
:global(.divider_line_Live_42),
:global(.divider_line_Live_47) {
  height: 0.0666667rem;
  border-bottom: 0.03rem solid rgb(245, 245, 245);
  background-color: rgb(245, 245, 245);
}

:global(.cells_auto_fill_Live_2),
:global(.cells_auto_fill_Live_12),
:global(.cells_auto_fill_Live_14),
:global(.cells_auto_fill_Live_18),
:global(.cells_auto_fill_Live_21),
:global(.cells_auto_fill_Live_26),
:global(.cells_auto_fill_Live_31),
:global(.cells_auto_fill_Live_35),
:global(.cells_auto_fill_Live_39),
:global(.cells_auto_fill_Live_43),
:global(.cells_auto_fill_Live_48) {
  height: 0.4166rem;
  width: 100%;
  img {
    height: 0.4166rem;
    width: 100%;
  }
}

:global(.list_two_type1_Live_3),
:global(.list_two_type1_Live_4),
:global(.list_two_type1_Live_5),
:global(.list_two_type1_Live_6),
:global(.list_two_type1_Live_7),
:global(.list_two_type1_Live_8),
:global(.list_two_type1_Live_9),
:global(.list_two_type1_Live_10),
:global(.list_two_type1_Live_16),
:global(.list_two_type1_Live_19),
:global(.list_two_type1_Live_22),
:global(.list_two_type1_Live_23),
:global(.list_two_type1_Live_24),
:global(.list_two_type1_Live_27),
:global(.list_two_type1_Live_28),
:global(.list_two_type1_Live_29),
:global(.list_two_type1_Live_32),
:global(.list_two_type1_Live_33),
:global(.list_two_type1_Live_37),
:global(.list_two_type1_Live_36),
:global(.list_two_type1_Live_41),
:global(.list_two_type1_Live_45),
:global(.list_two_type1_Live_46),
:global(.list_two_type1_Live_50) {
  height: 2.533rem;
  display: flex;
  padding: 0 1%;
  > div {
    padding: 0 1%;
    width: 50%;
    height: 2.533rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 1.4538rem;
      width: 100%;
    }
    > div {
      display: flex;
      flex-direction: column;
      height: 1.0747rem;
      width: 1.7813rem;
      padding: 0.1rem 0.14rem;
      p {
        text-align: center;
      }
      p:nth-of-type(1) {
        font-size: 0.16rem;
        width: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      p:nth-of-type(2) {
        margin-top: 0.03215rem;
        font-size: 0.09rem;
      }
      p:nth-of-type(3) {
        color: red;

        span:nth-of-type(1) {
          color: red;
        }
        span:nth-of-type(2) {
          color: #999;
        }
      }
      button {
        height: 0.3rem;
        width: 1rem;
        margin: 0 auto;
        color: white;
        background: #ea625b;
        border: 0;
      }
    }
  }
}

:global(.list_one_type12_Live_15),
:global(.list_one_type12_Live_40),
:global(.list_one_type12_Live_44),
:global(.list_one_type12_Live_49) {
  height: 2.533rem;
  display: flex;
  padding: 0 1%;
  > div {
    padding: 0 1%;
    width: 100%;
    height: 2.533rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      height: 1.4538rem;
      width: 100%;
    }
    > div {
      display: flex;
      flex-direction: column;
      height: 1.0747rem;
      width: 1.7813rem;
      padding: 0.1rem 0.14rem;
      p {
        text-align: center;
      }
      p:nth-of-type(1) {
        font-size: 0.16rem;
        width: 1.5rem;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      p:nth-of-type(2) {
        margin-top: 0.03215rem;
        font-size: 0.09rem;
      }
      p:nth-of-type(3) {
        color: red;

        span:nth-of-type(1) {
          color: red;
        }
        span:nth-of-type(2) {
          color: #999;
        }
      }
      button {
        height: 0.3rem;
        width: 1rem;
        margin: 0 auto;
        color: white;
        background: #ea625b;
        border: 0;
      }
    }
  }
}

:global(.list_two_type1_Live_50) {
  margin-bottom: 0.5rem;
}
