.top {
  height: 0.4375rem;
  width: 100%;
  display: flex;
  align-items: center;
  background: #f2f2f2;
  > div {
    height: 0.3125rem;
    width: 100%;
    display: flex;
    input {
      width: 2.7088rem;
      height: 0.3125rem;
      border: 0;
      font-size: 0.18rem;
      color: #c7c7c7;
    }
    span:nth-of-type(1) {
      color: #ff6b00;
    }
    span {
      width: 0.5206rem;
      font-size: 0.28rem;
      text-align: center;
      color: #999;
    }
  }
}
.box {
  position: relative;
}

:global(.true) {
  position: fixed;
  top: 0;
  left: 0;
}
